@using SharedLibrary.DTOs
@model IEnumerable<SharedLibrary.DTOs.ColumnBlockDTO>

@{
    ViewData["Title"]="ReadyToAnswer";
}

<h2>Show Answers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName(nameof(ColumnBlockDTO.Id))
            </th>
            <th>
                @Html.DisplayName(nameof(ColumnBlockDTO.Name))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var columnBlockDto in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => columnBlockDto.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => columnBlockDto.Name)
                </td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName(nameof(ColumnMetaDTO.Text))
                                </th>
                                <th>
                                    @Html.DisplayName(nameof(ColumnMetaDTO.ValueText))
                                </th>
                                <th>
                                    @Html.DisplayName(nameof(ColumnMetaDTO.IsRequired))
                                </th>
                                <th>
                                    @Html.DisplayName(nameof(ColumnDTO.Value))
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var columnDTO in columnBlockDto.ColumnDTOs)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => columnDTO.ColumnMetaDTO.Text)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => columnDTO.ColumnMetaDTO.ValueText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => columnDTO.ColumnMetaDTO.IsRequired)
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => columnDTO.Value)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
